<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="flame-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="flame-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Hot</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button expand="full" (click)="logout()">Logout</ion-button> -->
  <app-hot-slides></app-hot-slides>

</ion-content>
