ion-content {
  --padding-top: 30%;
  --padding-start: 7%;
  --padding-end: 7%;
}

// .input-group {
//   background: #fff;
//   border-radius: 10px;
//   overflow: hidden;
//   margin-bottom: 15px;

ion-item {
  --border-color: var(--ion-color-primary, #3d7cf1);
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  border-bottom: 2px solid;
}
