<ng-container *ngIf="products; else elseTemplate">
  <ion-list>
    <ion-list-header>
      Discover all our products!
    </ion-list-header>

    <ion-item class="ion-padding-bottom" *ngFor="let product of products" [routerLink]="['/product-detail/', product.id]">
      <img src="{{ thumbnailUrl }}/{{ product.thumbnail }}" alt="{{ product.name }}" />
      <ion-label class="ion-text-end">
        <h2>{{ product.name }}</h2>
        <h3>{{ product.category.name }}</h3>
        <p>
          <ion-chip outline color="primary" style="margin-bottom: 5%;">
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label>{{ product.price }} FCFA</ion-label>
          </ion-chip>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>
</ng-container>
<ng-template #elseTemplate>
  <div class="spin">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ng-template>

